<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="C:\Users\Moffitt\Documents\GitHub\mdgame\res\gfx\bg_tiles.bin"/>
  <property key="recentFile" value="C:\Users\Moffitt\Documents\GitHub\mdgame\res\gfx\player_sprites.bin"/>
  <property key="recentFile" value="C:\Users\Moffitt\Documents\GitHub\mdgame\res\gfx-wip\player-linear.bin"/>
  <property key="recentFile" value="C:\Users\Moffitt\Documents\GitHub\mdgame\util\tm0"/>
  <property key="recentFile" value="C:\Users\Moffitt\Documents\GitHub\mdgame\res\gfx\player-test.bin"/>
  <property key="recentFile" value="C:\Users\Moffitt\Documents\GitHub\mdgame\res\gfx\pl.bin"/>
  <property key="recentFile" value="C:\Users\Moffitt\Documents\GitHub\mdgame\res\gfx\out.bin"/>
</settings>
